<div class="row">
    <div class="ten columns centered text-center content">
        <h3 class="text-center">Don't have Mumble?</h3>
        <div class="mumble-buttons">
            <div id="os-download" class="btn info medium pretty">
                <a href="#"><i class="fa fa-windows"></i> <span id="os-text">Windows Download</span></a>
            </div>
            <div class="btn info medium pretty">
                <a href="#"><i class="fa fa-headphones"></i> Mumble Homepage</a>
            </div>
        </div>
    </div>
</div>

