<p>Hello there!</p>
<p>You have created your upgraded server. Please save the link below to view your connection details and server
  expiration date:</p>
<a href="{{ ctx.url }}">{{ ctx.url }}</a>

<p>A SuperUser account was also created. You can use this account to create channels, set user roles and privileges and
moderate your server. Log into your SuperUser account with the following details:</p>
<p>
  <strong>User</strong>: SuperUser (case sensitive)<br />
  <strong>Password</strong>: {{ ctx.superuser_password }}
</p>

<p>If you have any questions, please feel free to <a href='http://guildbit.com/contact'>contact us</a> or reply
  to this message.</p>
<p>- GuildBit Team</p>
