body {
    background: #CECECE;
}
a:hover {
    text-decoration: underline;
}
.btn a:hover {
    text-decoration: none;
}
.btn.pretty.primary.disabled,
.btn.pretty.primary.disabled:hover {
    border: 0;
    cursor: not-allowed;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
    cursor: not-allowed;
    box-shadow: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #A2D4FC), color-stop(100%, #54B2FE));
    background-image: -webkit-linear-gradient(#A2D4FC, #54B2FE);
    background-image: -moz-linear-gradient(#a2d4fc, #54b2fe);
    background-image: -o-linear-gradient(#a2d4fc, #54b2fe);
    background-image: linear-gradient(#A2D4FC, #54B2FE);
    -webkit-box-shadow: inset 0 0 3px #FFF;
    -moz-box-shadow: inset 0 0 3px white;
    box-shadow: inset 0 0 3px #FFF;
    border: 1px solid #0E90F8;
}
.btn.pretty.primary.disabled button,
.btn.pretty.primary.disabled:hover button {
    cursor: not-allowed;
}
.btn {
    vertical-align: bottom;
}
.head {
    height: 100px;
    position: relative;
}
.head-logo h1 {
    height: 56px;
    width: 300px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    text-indent: 100%;
    margin: 0;
    padding: 0;
    top: 35px;
}
.message {
    margin-top: 5px;
}
@media screen and (max-width: 900px) {
    .head-logo h1 {
        top: 0;
    }
}

/* Mobile and iOS browser */
@media screen and (max-width: 368px) {
    .content h3 {
        font-size: 1.475rem;
    }
    .description span {
        font-size: 10px;
    }
    .footer-links {
        font-size: 10px;
    }
    .head-buttons {
        min-width: 289px !important;
        text-align: center;
    }
    .head-buttons .btn,
    .mumble-buttons .btn {
        font-size: 0.625rem;
        height: 23px;
        line-height: 21px;
    }
    .head-buttons .btn > a,
    .mumble-buttons .btn > a {
        padding: 0 13px;
    }
    #deploy-form .picker,
    #deploy-form input#password,
    #deploy-form #deploy-button-wrapper {
        width: 100%;
        margin: 10px 0;
    }
}

.head-logo a,
.head-logo a:visited,
.head-logo a:active {
    background: url(/static/img/guildbit_logo.png) no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}
.head-logo a:hover {
    text-decoration: none;
    opacity: .90;
}
.head-logo .bit {
    color: #3CA957;
    /*
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#80CB92, #3CA957);
    */
}
.head-buttons {
    margin-bottom: 10px;
    padding-right: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.content {
    background: #DDD;
    border: 1px solid #D0D0D0;
    padding: 20px;
    margin-bottom: 10px;
}
.select-picker {
    top: 14px;
    margin-left: 1px;
}
.select-picker select {
    width: 150%;
}
.mumble-buttons {
    padding-bottom: 10px;
}
.mumble-buttons .btn.pretty.info {
    background-image: linear-gradient(#B2B5B8, #6F7174);
}
.description p {
    margin-bottom: 0;
}
.description span {
    font-size: 12px;
}
.faqs dd {
    margin-bottom: 10px;
}
.footer-links {
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer-links ul {
    float: right;
}
.footer-links ul li {
    display: inline-block;
    padding: 0 3px;
}
.footer-social {
    float: left;
    margin-top: 5px;
    width: 150px;
}
.footer-social div {
    margin-bottom: 12px;
}
.footer-links .share-js {
    width: 145px !important;
}

/*
 * Server Page */
.content .copy-url {
    margin-bottom: 0;
    padding-bottom: 0;
}
.content .ttip:after {
    min-width: 210px;
}
.content .copy-url .btn {
    margin-bottom: 1px;
}
.content .copy-url.field {
}