{% extends"layout/admin_base.html" %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <tbody>
            <tr>
                <td>Total Servers Online:</td>
                <td>{{ ctx.servers_online }}</td>
            </tr>
            <tr>
                <td>Total Users Online:</td>
                <td>{{ ctx.users_online }}</td>
            </tr>
            <tr>
                <td>Servers (database):</td>
                <td>{{ ctx.servers }}</td>
            </tr>
            <tr>
                <td>Users (database):</td>
                <td>{{ ctx.users }}</td>
            </tr>
        </tbody>
    </table>

    <h3>System Information (Guildbit App Server)</h3>
    <table class="pure-table pure-table-horizontal pure-table-striped" style="width:20%;">
        <tbody>
        <tr>
            <td colspan="1"><strong>Memory</strong></td>
            <td colspan="1"><strong>Disk</strong></td>
        </tr>
        <tr>
            <td>{{ ctx.memory.percent }}%</td>
            <td>{{ ctx.disk.percent }}%</td>
        </tr>
        </tbody>
    </table>
    <br />
    <form class="pure-form" method="get">
        <select id="select-host" name="filter">
            {% for k, v in server_list %}
                <option value="{{ k }}" {% if request.args.get('filter') == k %}selected="selected"{% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
    </form>

    <h3>Bandwidth Information</h3>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <img src="{{ ctx.http_uri }}/stats/vnstat_summary.png" />
            <img src="{{ ctx.http_uri }}/stats/vnstat_hourly.png" />
            <img src="{{ ctx.http_uri }}/stats/vnstat_top10.png" />
        </div>
        <div class="pure-u-1-2">
            <img src="{{ ctx.http_uri }}/stats/vnstat_monthly.png" />
            <img src="{{ ctx.http_uri }}/stats/vnstat_daily.png" />
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
    <script>
    $(function() {
        // Update Bandwidth Info on select change
        $('#select-host').change(function() {
            this.form.submit();
        })
    })
    </script>
{% endblock %}