{% extends"_layout/admin_base.html" %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <tbody>
            <tr>
                <td>Servers Running:</td>
            </tr>
            <tr>
                <td>Users Online:</td>
            </tr>
            <tr>
                <td>Jobs in queue:</td>
            </tr>
            <tr>
                <td>Bandwidth:</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
{% endblock %}