{% extends"layout/admin_base.html" %}

{% block title %}Admin Hosts{% endblock %}

{% block body %}
  <div class="spacer">
    <a class="pure-button button-secondary" data-toggle="modal" data-target="#create-host">Create Host</a>
  </div>
  <p>Once a Murmur VPS and DNS are ready, you can create the configuration here to make it available for free or upgraded servers.</p>
  <table class="pure-table pure-table-horizontal pure-table-striped servers">
      <thead>
          <tr>
              <th>Name</th>
              <th>Hostname</th>
              <th>Region</th>
              <th>URI</th>
              <th>Type</th>
              <th>Active</th>
          </tr>
      </thead>

      <tbody>
          {% for host in hosts %}
          <tr>
              <td>{{ host.name }}</td>
              <td><a href="/admin/hosts/{{ host.id }}">{{ host.hostname }}</a></td>
              <td>{{ host.region }}</td>
              <td><a href="{{ host.uri }}">{{ host.uri }}</a></td>
              <td>{{ 'Upgraded ⚡️' if host.type == 1 else 'Free' }}</td>
              <td>{{ '✔️' if host.active else '❌' }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <!-- Create Host Modal -->
  <div class="modal fade" id="create-host" tabindex="-1" role="dialog" aria-labelledby="create-host" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" method="post" name="role" class="pure-form pure-form-aligned">
          <div class="modal-header">
            <h4 class="modal-title">Create a Host</h4>
          </div>
          <div class="modal-body">
            {{ form.csrf_token }}
            <div class="pure-control-group">
              <label for="role">Name</label>
              {{ form.name }}
            </div>
            <div class="pure-control-group">
              <label for="role">Hostname</label>
              {{ form.hostname }}
            </div>
            <div class="pure-control-group">
              <label for="role">Region</label>
              {{ form.region }}
            </div>
            <div class="pure-control-group">
              <label for="role">URI</label>
              {{ form.uri }}
            </div>
            <div class="pure-control-group">
              <label for="role">Type</label>
              {{ form.type }}
            </div>
            <div class="pure-control-group">
              <label for="role">Username</label>
              {{ form.username }}
            </div>
            <div class="pure-control-group">
              <label for="role">Password</label>
              {{ form.password }}
            </div>
            {% if form.errors %}
                <ul>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="pure-button pull-left">Test Connection</button>
            <button type="button" class="pure-button" data-dismiss="modal">Close</button>
            <button type="submit" class="pure-button button-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
{% endblock %}