{% extends"_layout/admin_base.html" %}

{% block title %}Admin Hosts{% endblock %}

{% block body %}
    <table class="pure-table pure-table-horizontal pure-table-striped servers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Contact</th>
                <th>Active</th>
                <th>Capacity</th>
                <th>Monitor</th>
            </tr>
        </thead>

        <tbody>
            {% for host in hosts %}
            <tr>
                <td>{{ host.name }}</td>
                <td>{{ host.address }}</td>
                <td>{{ host.contact }}</td>
                <td>{{ host.status }}</td>
                <td>{{ host.booted_servers }} / {{ host.capacity }}</td>
                <td><a href="{{ host.monitor_url }}">{{ host.monitor_url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
{% endblock %}