{% extends"layout/admin_base.html" %}

{% block title %}Admin Ports{% endblock %}

{% block body %}
  <table class="pure-table pure-table-horizontal pure-table-striped servers">
      <thead>
          <tr>
              <th>Name</th>
              <th>Hostname</th>
              <th>Region</th>
              <th>URI</th>
              <th>Type</th>
              <th>Active</th>
          </tr>
      </thead>

      <tbody>
          {% for host in hosts %}
          <tr>
              <td>{{ host.name }}</td>
              <td><a href="/admin/ports/{{ host.id }}">{{ host.hostname }}</a></td>
              <td>{{ host.region }}</td>
              <td><a href="{{ host.uri }}">{{ host.uri }}</a></td>
              <td>{{ 'Upgraded ⚡️' if host.type == 1 else 'Free' }}</td>
              <td>{{ '✔️' if host.active else '❌' }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}