{% extends"layout/admin_base.html" %}
{% set filter = request.args.get('filter') %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <div class="pull-right">
        <a class="pure-button button-secondary" data-toggle="modal" data-target="#createServerModal">Create Custom Server</a>
    </div>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li {% if filter == "active" or filter == None %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=active">Active</a></li>
            <li {% if filter == "queued" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=queued">Queued</a></li>
            <li {% if filter == "expired" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=expired">Expired</a></li>
            <li {% if filter == "error" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=error">Error</a></li>
            <li {% if filter == "upgrade" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=upgrade">Upgrade</a></li>
            <li {% if filter == "all" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=all">All</a></li>
            <li {% if filter == "custom" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=custom">Custom Servers</a></li>
        </ul>
    </div>
    <table class="pure-table pure-table-horizontal pure-table-striped servers">
        <thead>
            <tr>
                <th>ID</th>
                <th>UUID</th>
                <th>Created Date</th>
                <th>IP</th>
                <th>Duration</th>
                <th>Password</th>
                <th>Status</th>
                <th>Host</th>
                <th>Type</th>
                <th>Instance</th>
            </tr>
        </thead>

        <tbody>
            {% for s in servers.items %}
            <tr>
                <td>{{ s.id }}</td>
                <td><a href="/admin/servers/{{ s.uuid }}">{{ s.uuid }}</a></td>
                <td class="created-date">{{ s.created_date }}</td>
                <td>{{ s.ip }}</td>
                {% if s.extensions > 0 %}
                    <td>{{ s.duration - s.extensions }} <span class="text-green">+{{ s.extensions }}</span></td>
                {% else %}
                    <td>{{ s.duration }}</span></td>
                {% endif %}
                <td>{{ s.password }}</td>
                <td>{{ s.status }}</td>
                <td>{{ s.mumble_host }}</td>
                <td><span class="{{ 'label label-blue' if s.type != 'temp' }}">{{ s.type }}</span></td>
                <td>{{ s.mumble_instance }}</td>
            </tr>
            {% else %}
            <tr><td class="text-center" colspan="10">No Servers</td></tr>
            {% endfor %}

        </tbody>
    </table>

  <ul class="pagination">
  {%- for page in servers.iter_pages() %}
    {% if page %}
      {% if page != servers.page %}
        <li><a href="{{ url_for('AdminServersView:index', page=page, filter=filter) }}">{{ page }}</a></li>
      {% else %}
        <li class="active"><a href="{{ url_for('AdminServersView:index', page=page, filter=filter) }}">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">…</a></li>
    {% endif %}
  {%- endfor %}
  </ul>
  <p>({{ servers.total }} total)</p>

    <!-- Create Server Modal -->
    <div class="modal fade" id="createServerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post" name="role" class="pure-form pure-form-aligned">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Create a custom server</h4>
                    </div>
                    <div class="modal-body">
                        {{ form.csrf_token }}
                        <div class="pure-control-group">
                            <label for="role">Host</label>
                            {{ form.region }}
                        </div>
                        <div class="pure-control-group">
                            <label for="role">Channel Name</label>
                            {{ form.channel_name }}
                        </div>
                        <div class="pure-control-group">
                            <label for="role">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="pure-control-group">
                            <label for="role">Slots</label>
                            {{ form.slots }}
                            (required)
                        </div>
                        <fieldset>
                            {% for error in form.errors.role %}
                                <span class="label label-red">{{ error }}</span>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pure-button" data-dismiss="modal">Close</button>
                        <button type="submit" class="pure-button button-secondary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>
    <script type="text/javascript">
        // Moment.js time formatting
        $(".created-date").text(function(index, value) {
            return moment.utc(value).local().format("MM/DD h:mm:ss a");
        });
    </script>
{% endblock %}