{% extends"layout/admin_base.html" %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <div>
        <a class="pure-button button-secondary" href="/server/{{ server.uuid }}" target="_BLANK">View</a>
        <form id="kill-server" action="/admin/servers/{{ server.uuid }}/kill" method="POST" style="display: inline-block;">
            <button type="submit" class="pure-button button-error">Kill</button>
        </form>
    </div>
    <br />
    <table class="pure-table pure-table-horizontal pure-table-striped servers-js">
        <thead>
            <tr>
                <th colspan="2">Server Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ server.id }}</td>
            </tr>
            <tr>
                <td>UUID</td>
                <td>{{ server.uuid }}</td>
            </tr>
            <tr>
                <td>IP</td>
                <td>{{ server.ip }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td><span class="label {{ 'label-blue' if server.type == 'upgrade' }}">{{ server.type }}</span></td>
            </tr>
            <tr>
                <td>Created</td>
                <td id="created-date">{{ server.created_date }}</td>
            </tr>
            <tr>
                <td>Duration Hours</td>
                <td>{{ server.duration }}</td>
            </tr>
            <tr>
                <td>Mumble Password</td>
                <td>{{ server.password }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ server.status }}</td>
            </tr>
            <tr>
                <td>Mumble Host</td>
                <td>{{ server.mumble_host }}</td>
            </tr>
            <tr>
                <td>Mumble Instance ID</td>
                <td>{{ server.mumble_instance }}</td>
            </tr>
            <tr>
              <td>CVP Endpoint </td>
              <td><a href="{{ request.url_root }}server/cvp/{{ server.cvp_uuid }}/json">{{ request.url_root }}server/cvp/{{ server.cvp_uuid }}/json</a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="pure-table pure-table-horizontal pure-table-striped servers-js">
        <thead>
        <tr>
            <th colspan="2">Mumble Details</th>
        </tr>
        </thead>
        <tbody>
            {% if details != None %}
            <tr>
                <td>Server</td>
                <td>{{ server.mumble_host }}<span class="pull-right label">{{ host.name }}</span></td>
            </tr>
            <tr>
                <td>Port</td>
                <td>{{ details.port }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ server.password }}</td>
            </tr>
            <tr>
                <td>Direct Link</td>
                <td><a href="mumble://{{ server.mumble_host }}:{{ details.port }}">mumble://{{ server.mumble_host }}:{{ details.port }}</a></td>
            </tr>
            <tr>
                <td>Expires</td>
                <td><span id="expires-date"></span> (<span id="expires"></span>) </td>
            </tr>
            <tr>
                <td>Slots</td>
                <td>{{ details.maxusers }}</td>
            </tr>
            <tr>
                <td>Uptime</td>
                <td>{{ details.uptime }}</td>
            </tr>
            <tr>
                <td>Log length</td>
                <td>{{ details.log_length }}</td>
            </tr>
            <tr>
                <td>Welcome message</td>
                <td>
                    <textarea cols="80" rows="5" readonly>{{ details.welcometext }}</textarea>
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-center" colspan="2">Mumble server expired</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <br />
    <table class="pure-table pure-table-horizontal pure-table-striped servers-js">
        <thead>
        <tr>
            <th>Users Online (<span id="users-online"></span>)</th>
            <th class="text-right">Duration</th>
        </tr>
        </thead>
        <tbody id="users">
            <tr><td colspan="2">Loading...</td></tr>
        </tbody>
    </table>
    <br />
    <table class="pure-table pure-table-horizontal pure-table-striped servers-js" >
        <thead>
        <tr>
            <th>Server Logs</th>
            <th class="text-right">Timestamp</th>
        </tr>
        </thead>
        <tbody id="logs">
            <tr><td colspan="2">Loading...</td></tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>

    <script type="text/javascript">
        // Format expiration date into human friendly
        var base_url = '/server/{{ server.uuid }}'
        var base_url_id = '/admin/servers/{{ server.uuid }}'
        var created_date = '{{ server.created_date }}';
        var expire_date = '{{ server.expiration }}';
        $("#created-date").text(moment.utc(created_date).local().format("ddd, MMM Do, h:mm:ss a"));
        $("#expires-date").text(moment.utc(expire_date).local().format("ddd, MMM Do, h:mm:ss a"));
        $("#expires").text(moment.utc(expire_date).fromNow());
        $("#kill-server").on('submit', function() {
            if (!confirm('Are you sure you want to kill this server?')) {
                event.preventDefault();
            }
        });

        var logsEl = document.getElementById('logs');
        var usersOnlineEl = document.getElementById('users-online');
        var usersEl = document.getElementById('users');
        var expiresEl = document.getElementById('expires');

        function loadLogs(callback) {
            $.ajax({
                url: base_url_id + "/logs",
                dataType: "json",
                success: function (json) {
                    callback(json.logs);
                }
            });
        }

        function loadUsers(callback) {
            $.ajax({
                url: base_url + "/users/",
                dataType: "json",
                success: function(json) {
                    callback(json.users);
                }
            });
        }

        function renderLogs() {
            loadLogs(function(data) {
                logsEl.innerHTML = "";

                for (var i = 0; i < data.length; i++) {
                    var tr = document.createElement('tr');
                    var td = document.createElement('td');
                    var td2 = document.createElement('td');
                    td.textContent = data[i].message;
                    td2.textContent = moment.unix(data[i].timestamp);
                    td2.classList.add('text-right');
                    tr.appendChild(td);
                    tr.appendChild(td2);
                    logsEl.appendChild(tr);
                }
            });
        }

        function renderUsers() {
            loadUsers(function(data) {
                usersOnlineEl.textContent = data.count;
                usersEl.innerHTML = "";

                if (data.count === 0) {
                    var tr = document.createElement('tr');
                    var td = document.createElement('td');
                    td.classList.add('text-center');
                    td.setAttribute('colspan', '2');
                    td.textContent = "No users are online";
                    tr.appendChild(td);
                    usersEl.appendChild(tr);
                }

                // Users in root.
                for (var i = 0; i < data.users.length; i++) {
                    var tr = document.createElement('tr');
                    var td1 = document.createElement('td');
                    var td2 = document.createElement('td');
                    var ii = document.createElement('i');
                    var span = document.createElement('span');
                    ii.classList.add('fa');
                    ii.classList.add('fa-user');
                    td1.appendChild(ii);
                    span.textContent = " " + data.users[i].name;
                    td2.classList.add('text-right');
                    td2.textContent = moment.duration(data.users[i].onlinesecs, 'seconds').humanize();
                    td1.appendChild(span);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    usersEl.appendChild(tr);
                }

                // Users in sub_channels.
                for (var i = 0; i < data.sub_channels.length; i++) {
                    if (data.sub_channels[i].users.length > 0) {
                        var tr = document.createElement('tr');
                        var td = document.createElement('td');
                        var ii = document.createElement('i');
                        var span = document.createElement('span');
                        tr.classList.add('subchannels');
                        tr.setAttribute('style', 'background: #ddd; font-weight: bold;');
                        td.setAttribute('colspan', '2');
                        ii.classList.add('fa');
                        ii.classList.add('fa-comments');
                        span.innerHTML = data.sub_channels[i].c.name + " (Subchannel)";
                        td.appendChild(ii);
                        td.appendChild(span);
                        tr.appendChild(td);
                        usersEl.appendChild(tr);
                    }

                    for (var j = 0; j < data.sub_channels[i].users.length; j++) {
                        var tr = document.createElement('tr');
                        var td1 = document.createElement('td');
                        var td2 = document.createElement('td');
                        var ii = document.createElement('i');
                        var span = document.createElement('span');
                        ii.classList.add('fa');
                        ii.classList.add('fa-user');
                        td1.appendChild(ii);
                        span.textContent = " " + data.sub_channels[i].users[j].name;
                        td2.classList.add('text-right');
                        td2.textContent = moment.duration(data.sub_channels[i].users[j].onlinesecs, 'seconds').humanize();
                        td1.appendChild(span);
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        usersEl.appendChild(tr);
                    }
                }
            });
        }

        setInterval(function() {
            renderUsers();
            renderLogs();
        }, 15000);
        renderUsers();
        renderLogs();
    </script>
{% endblock %}