{% extends"_layout/admin_base.html" %}
{% set filter = request.args.get('filter') %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li {% if filter == "active" or filter == None %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=active">Active</a></li>
            <li {% if filter == "expired" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=expired">Expired</a></li>
            <li {% if filter == "all" %}class="pure-menu-selected"{% endif %}><a href="/admin/servers/?filter=all">All</a></li>
        </ul>
    </div>
    <br />
    <table class="pure-table pure-table-horizontal pure-table-striped servers">
        <thead>
            <tr>
                <th>ID</th>
                <th>UUID</th>
                <th>Created Date</th>
                <th>Duration</th>
                <th>Password</th>
                <th>Status</th>
                <th>Host</th>
                <th>Instance</th>
            </tr>
        </thead>

        <tbody>
            {% for s in servers %}
            <tr>
                <td>{{ s.id }}</td>
                <td><a href="/admin/servers/{{ s.id }}">{{ s.uuid }}</a></td>
                <td>{{ s.created_date }}</td>
                <td>{{ s.duration }}</td>
                <td>{{ s.password }}</td>
                <td>{{ s.status }}</td>
                <td>{{ s.mumble_host }}</td>
                <td>{{ s.mumble_instance }}</td>
            </tr>
            {% endfor %}
            {% if servers == [] %}
            <tr><td class="text-center" colspan="8">No Servers</td></tr>
            {% endif %}

        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="/static/js/admin.js"></script>
{% endblock %}