<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>GuildBit - {% block title %}{% endblock %}</title>
	<meta name="description" content="GuildBit - Free Mumble Hosting" />
	<meta name="keywords" content="mumble, voip, hosting, guild, mmo, ffxiv, server, murmur" />
	<meta name="author" content="alfg.co">

	<link rel="shortcut icon" href="/static/img/guildbit_ico.png" type="image/x-icon" />

	<!-- Facebook Metadata /-->
	<meta property="og:image" content="http://guildbit.com/static/img/screenshot_home.png" />
	<meta property="og:description" content="GuildBit - Free Mumble Server Hosting"/>
	<meta property="og:title" content="GuildBit" />

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="GuildBit">
	<meta itemprop="description" content="Free Mumble Server Hosting">
	<meta itemprop="image" content="http://guildbit.com/static/img/screenshot_home.png">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/static/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div class="header">
        {% if notice and notice.active %}
        <div class="{{ notice.message_type }} alert ten columns centered message text-center">{{ notice.message }}</div>
        {% endif %}
        <div class="head centered">
            <div class="head-logo">
                <h1><a href="/">GuildBit</a></h1>
            </div>
            <div class="header-links">
                <ul>
                    <li><a class="pure-button button-small pure-button-primary" href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a class="pure-button button-small button-success" href="/how-it-works"><i class="fa fa-cogs"></i> How It Works</a></li>
                    <li><a class="pure-button button-small button-warning" href="/donate"><i class="fa fa-btc"></i> Donate</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}

    <div class="footer-links">
        <ul class="text-center">
            <li><a href="{{ url_for('HomeView:contact') }}">Found a bug?</a></li>
            <li>|</li>
            <li><a href="{{ url_for('HomeView:updates') }}">Updates</a></li>
            {% if g.user.is_authenticated() %}
            <li>Logged in as <strong>{{ g.user.email }}</strong></li>
            <li>|</li>
            {% if g.user.role == 1 %}
                <li><a href="/admin">Admin</a></li>
                <li>|</li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <div class="share-js"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/static/js/libs/share.min.js"></script>

    {% block scripts %}{% endblock %}

    <!-- Google Analytics -->
	<script>
        window._gaq = [['_setAccount','UA-46282781-1'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
          load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
	</script>

    <!-- Share plugin -->
    <script>
        $('.share-js').share({
            url: 'http://guildbit.com',
            text: 'Guildbit - Free 10 slot Mumble servers. No registration required!',
            button_text: 'Share Us!'
        });
    </script>

    <!-- Download Mumble OS chooser -->
    <script type="text/javascript">
        var os = navigator.platform;

        if (os.indexOf("Linux") !== -1) {
            $('#os-download #os-text').text('Linux Download');
            $('#os-download #download-link i').addClass('fa-linux');
            $('#os-download #download-link a').attr('href', 'http://mumble.sourceforge.net/Installing_Mumble#Linux');
        }
        else if (os.indexOf("Win") !== -1) {
            $('#os-download #os-text').text('Windows Download');
            $('#os-download #download-link i').addClass('fa-windows');
            $('#os-download #download-link a').attr('href', 'http://sourceforge.net/projects/mumble/files/Mumble/1.2.5/mumble-1.2.5.msi/download');
        }
        else if (os.indexOf("MacOS") !== -1) {
            $('#os-download #os-text').text('OSX Download');
            $('#os-download #download-link i').addClass('fa-apple');
            $('#os-download #download-link a').attr('href', 'http://sourceforge.net/projects/mumble/files/Mumble/1.2.5/Mumble-1.2.5.dmg/download');
        }
    </script>
  </body>
</html>
