<table class="rounded centered">
  <thead>
    <tr>
      <th><i class="fa fa-sliders"></i> {{ _('Admin Controls') }}</th>
      <th class="text-right text-small"><i class="fa fa-exclamation-circle"></i> Only you can see these controls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
{#        <button id="extend-action" class="ttip pure-button button-small button-secondary" data-toggle="modal" data-target="#extendModal">#}
{#          <i class="fa fa-clock-o"></i> Extend Time#}
{#        </button>#}
        <button id="delete-action" class="ttip pure-button button-small button-error" data-toggle="modal" data-target="#deleteModal">
          <i class="fa fa-trash"></i> Delete Server
        </button>
      </td>
    </tr>
  </tbody>
</table>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/server/{{ server.uuid }}/delete" method="post" name="role" class="pure-form pure-form-aligned">
            <div class="modal-header">
              <h2 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle"></i> Delete Server</h2>
            </div>
            <div class="modal-body">
              <h3>Are you sure you want to delete this server? This action will expire the server and kick off all users.</h3>
              <h3>This action cannot be undone, but feel free to create another server.</h3>

            </div>
            <div class="modal-footer">
              <button type="button" class="pure-button" data-dismiss="modal">Close</button>
              <button type="submit" class="pure-button button-error">Delete Server</button>
            </div>
        </form>
      </div>
    </div>
  </div>
