<table class="rounded centered">
  <thead>
    <tr>
      <th><i class="fa fa-sliders"></i> {{ _('Admin Controls') }}</th>
      <th class="text-right text-small"><i class="fa fa-exclamation-circle"></i> Only you can see these controls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button class="pure-button button-small button-secondary"><i class="fa fa-clock-o"></i> Extend Time</button>
        <button class="pure-button button-small button-error"><i class="fa fa-trash"></i> Delete Server</button>
      </td>
    </tr>
  </tbody>
</table>
