<table class="rounded centered">
  <thead>
    <tr>
      <th><i class="fa fa-sliders"></i> {{ _('Admin Controls') }}</th>
      <th class="text-right text-small"><i class="fa fa-exclamation-circle"></i> Only you can see these controls</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <button
          id="extend-action"
          class="ttip pure-button button-small button-secondary"
          {% if server.extensions == extensions_max %}disabled="disabled"{% endif %}
          data-toggle="modal"
          data-target="#extendModal">
          <i class="fa fa-clock-o"></i> Extend Time
        </button>
        <button id="delete-action" class="ttip pure-button button-small button-error track-nolink" data-toggle="modal" data-target="#deleteModal"
                data-event-label="Delete Server Modal">
          <i class="fa fa-trash"></i> Delete Server
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/server/{{ server.uuid }}/delete" method="post" name="role" class="pure-form pure-form-aligned">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle"></i> Delete Server</h2>
          </div>
          <div class="modal-body">
            <h3>Are you sure you want to delete this server? This action will expire the server and kick off all users.</h3>
            <h3>This action cannot be undone, but feel free to create another server.</h3>

          </div>
          <div class="modal-footer">
            <button type="button" class="pure-button" data-dismiss="modal">Close</button>
            <button type="submit" class="pure-button button-error track-submit" data-event-label="Delete Server Submit">Delete Server</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Extend Modal -->
<div class="modal fade" id="extendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/server/{{ server.uuid }}/extend" method="post" name="role" class="pure-form pure-form-aligned">
        <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle"></i> Extend Duration</h2>
        </div>
        <div class="modal-body">
          <h3>Need a little more time? You can extend your server duration by<br /> <strong>1 hour</strong>
            without interruption to continue your session.</h3>
          <h3>You have <strong>{{ extensions_max - server.extensions }}</strong> extension(s) remaining for this session.</h3>
          {% if server.extensions == extensions_max %}
          <div class="alert warning text-center">No extensions left!</div>
          {% else %}
          <div id="extension-warning" class="alert warning text-center">You can extend again <span id="extension-unlock"></span>.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="pure-button" data-dismiss="modal">Close</button>
          {% if server.extensions == extensions_max %}
            <!-- Nice try. -->
          {% else %}
            <button id="extend-btn" type="submit" class="pure-button button-secondary track-submit" data-event-label="Extend Server Submit">Extend Time by 1 Hour</button>
            <!-- Sneaky, you are... I'll allow it this time. -->
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
