<div class="ten columns centered text-center content">
    <h1 class="text-center">{{ _('Don&apos;t have Mumble?') }}</h1>
    <div class="mumble-buttons">
        <div id="os-download">
            <a id="download-link" class="pure-button button-gray" href="#"><i class="fa fa-windows"></i> <span id="os-text">{{ _('Windows Download') }}</span></a>
            <a class="pure-button button-gray" href="http://mumble.sourceforge.net/"><i class="fa fa-headphones"></i> {{ _('Mumble Homepage') }}</a>
        </div>
    </div>
</div>
