{% extends"_layout/base.html" %}

{% block title %}Contact or Report an Issue{% endblock %}

{% block body %}
    <div class="row">
        <div class="ten columns centered content">
            <div class="ten columns centered">
                {% if form.errors %}
                    <ul class="errors centered text-center">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li class="danger alert">{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li class="secondary alert">{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <h2>Contact</h2>
                <p>Found a bug? Please report the issue by submitting the form below. You can also use this form
                if you have any general inquires.</p>
                <form action="" method="post" name="contact" class="pure-form pure-form-aligned">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        {{ form.subject(class="input", placeholder="Subject") }}
                    </div>
                    <div class="field">
                        {{ form.email(class="input", placeholder="Email") }}
                    </div>
                    <div class="field">
                        {{ form.message(class="input textarea", placeholder="Message") }}
                    </div>
                    <div class="btn primary medium pretty">
                        <button type="submit" value="Submit">Send</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}