{% extends"layout/base.html" %}

{% block title %}{{ _('Contact or Report an Issue') }}{% endblock %}

{% block body %}
    <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li class="secondary alert">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>{{ _('Thank you!') }}</h1>
        <p>{{ _('Thanks for submitting your question, comment or bug report! Your feedback is appreciated!') }}</p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}