{% extends"_layout/base.html" %}

{% block title %}Contact or Report an Issue{% endblock %}

{% block body %}
    <div class="content">
        {% if form.errors %}
            <ul class="errors centered text-center">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li class="danger alert">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li class="secondary alert">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>Contact</h1>
        <p>Found a bug? Please report the issue by submitting the form below. You can also use this form
        if you have any general inquires.</p>
        <form action="" method="post" name="contact" class="pure-form pure-form-aligned">
            {{ form.hidden_tag() }}
            <div class="pure-control-group">
                <label for="subject">Subject</label>
                {{ form.subject(class="pure-input-2-3", placeholder="Subject") }}
            </div>
            <div class="pure-control-group">
                <label for="email">Email</label>
                {{ form.email(class="pure-input-2-3", placeholder="Email") }}
            </div>
            <div class="pure-control-group">
                <label for="message">Message</label>
                {{ form.message(class="pure-input-2-3", placeholder="Message", rows='4') }}
            </div>
            <div class="pure-controls">
                <button class="pure-button pure-button-primary" type="submit" value="Submit">Send</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}