{% extends"layout/base.html" %}

{% block title %}{{ _('How It Works') }}{% endblock %}

{% block body %}
    <div class="content how-it-works">
        <h1>{{ _('How It Works') }}</h1>

        <p>{{ _('Traditional VOIP hosts offer subscription-based and persistent servers, so generally a premium
        is charged. <strong>GuildBit</strong> works on the idea of temporary servers to preserve system
        resources, opening up more server slots which aren&apos;t being occupied. This helps lower hosting,
        resources and bandwidth costs. Also, VPS hosting nowadays are much cheaper than they used to be. The
        rest is supported by donations and upgrades.') }}</p>
        <hr>

        <div class="pure-g text-center">
            <div class="pure-u-1-1 pure-u-md-1-3">
              <h2><i class="fa fa-globe"></i> {{ _('Set a location') }}</h2>
              <h4>{{ _('Choose a server location closest to your group to minimize latency.') }}</h4>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3">
              <h2><i class="fa fa-clock-o"></i> {{ _('Set a duration') }}</h2>
              <h4>{{ ('You can choose how long the server instance will live. From 4-24 hours. The
              less hours you use, the more resources open up for others. :)') }}</h4>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3">
              <h2><i class="fa fa-lock"></i> {{ _('Set a password') }}</h2>
              <h4>{{ _('Password protected servers are required, due to the fact the server may be
              reused in the future.') }}</h4>
            </div>
        </div>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_home.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_home.png" width="800" />
        </a>
        <hr />

        <h2 class="text-center"><i class="fa fa-signal"></i> Connection Details</h2>
        <h4>{{ _('Share the connection details, or use the copy feature to copy/paste the credentials
            directly. The server page also monitors users in room (including subchannels) and displays the expiration countdown.') }}</h4>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_connection_details.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_connection_details.png" alt="{{ _('Share the connection details, or use the copy feature to copy/paste the credentials
            directly. The server page also monitors users in room (including subchannels) and displays the expiration countdown.') }}" width="800" />
        </a>
        <hr>

        <h4 class="text-center">Clicking direct link opens Mumble and connects to server</h4>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_connect_mumble.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_connect_mumble.png" alt="Clicking direct link opens Mumble and connects to server" width="800" />
        </a>
        <hr>

        <h4 class="text-center">Connected to Mumble with users in lobby</h4>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_connected_mumble.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_connected_mumble.png" alt="Connected to Mumble with users in lobby" width="800"/>
        </a>
        <hr>

        <h4 class="text-center">Server page live updates with users in server as well as server timer expiration</h4>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_users.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_users.png" alt="Server page live updates with users in server as well as server timer expiration" width="800" />
        </a>
        <hr />

        <h4 class="text-center">Server page updates when Mumble server expires</h4>
        <a class="fancybox" rel="group" href="../static/img/screenshots/howitworks_expired.png">
          <img class="pure-img lazy" data-original="../static/img/screenshots/howitworks_expired.png" alt="Server page updates when Mumbe server expires" width="800" />
        </a>
        <hr />


        <h2>{{ _('FAQs') }}</h2>
        <dl class="faqs">
            <dt>{{ _('How is it free?') }}</dt>
            <dd>{{ _('Donations, paid upgrades and low server/bandwidth costs. This is still in an experimental phase. Remainders
                are paid of out pocket. :)') }}</dd>

            <dt>{{ _('Why temporary servers?') }}</dt>
            <dd>{{ _('The idea is targeted towards gamers who need a quick Mumble server for their group or raid
            without the hassle of setting up their own, or subscribing to a service. The server expires to not
            only save on resources, but to free up the slot for others.') }}</dd>

            <dt>{{ _('Why only 15 slots?') }}</dt>
            <dd>{{ _('Check out the <a href="/upgrade">upgrades</a> page if you&apos;re looking for more than 15 slots.') }}</dd>

            <dt>{{ _('Why can&apos;t I use the same port when creating a server?') }}</dt>
            <dd>{{ _('Servers are created according to the next port available. ') }}</dd>

            <dt>{{ _('Why only offer Mumble and not Ventrilo or TeamSpeak?') }}</dt>
            <dd>{{ _('Mumble is <a href="https://github.com/mumble-voip/mumble/blob/master/LICENSE">free</a> and
            <a href="http://en.wikipedia.org/wiki/Open-source_software">open-source software</a>. So it doesn&apos;t
            cost me any licensing fees to host Mumble servers or offer it as a service.') }}</dd>

            <dt>{{ _('Do you offer premium upgrades?') }}</dt>
            <dd>{{ _('Yes! We now offer server upgrades via Bitcoin and Paypal to increase slot count, duration, subchannels
            and a SuperUser admin capabilities. <a href="/upgrade">Click here</a> to get started.') }}</dd>

            <dt>{{ _('What is a SuperUser?') }}</dt>
            <dd>{{ _('A SuperUser is an admin account on your Mumble server to grant permissions and roles to users and
            groups as well as setting up channels.') }}</dd>

            <dt>{{ _('Do you plan on offering other methods of payment?') }}</dt>
            <dd>{{ _('We&apos;re looking into Stripe or Balanced Payments integration. :)') }}</dd>

            <dt>{{ _('How can I contribute?') }}</dt>
            <dd>
                <p>
                  {{ _('Purchase upgrades! <a href="/upgrade">Click here</a> to get started.') }}
                </p>
                <p>
                    {{ _('We accept <a href="/donate">donations</a>, including Bitcoin and Dogecoin! :) This keeps us
                    going.') }}
                </p>
                <p>
                   {{ _('Are you a developer? Check out the
                   <a href="https://github.com/alfg/murmur-rest">Murmur-REST</a> project on Github and contribute!') }}
                </p>
                <p>
                    {{ _('Help us improve or add translations. <a href="/contact/">Contact us</a> for more details!') }}
                </p>
            </dd>

            <dt>{{ _('How can I contact you?') }}</dt>
            <dd>{{ _('Feel free to use the <a href="%s">contact form</a> to report any
                bugs or to contact me with any questions or comments!' % url_for('HomeView:contact')) }}</dd>
        </dl>
    </div>
{% endblock %}

{% block scripts %}

  <script src="../static/js/libs/jquery.lazyload.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      // Fancybox gallery
      $(".fancybox").fancybox({
        beforeShow : function() {
          var alt = this.element.find('img').attr('alt');
          this.inner.find('img').attr('alt', alt);
          this.title = alt;
          console.log(this.prev);
      }
      });

      // Initialize lazyloading of images
      $("img.lazy").lazyload({
        effect: "fadeIn"
      });
    });

    // Delay lazy load a bit
    $(window).bind("load", function() {
      var timeout = setTimeout(function() {
          $("img.lazy").trigger("sporty")
      }, 5000);
    });
  </script>
{% endblock %}