{% extends"layout/base.html" %}

{% block title %}{{ _('Free Mumble Server Hosting') }}{% endblock %}

{% block body %}
    <div class="ten columns centered content home">
        <h1 class="text-center">{{ _('Deploy a Mumble server for your group. It&apos;s free!') }}</h1>

        <form id="deploy-form" class="pure-form deploy-form" action="/" method="POST">
            {{ form.csrf_token }}
            {{ form.location }}
            {{ form.duration }}
            {{ form.password(size=20, class='', placeholder='%s' % _('Set a Password'), autocomplete='off') }}
            <button id="deploy-button" class="pure-button pure-button-primary track-submit" type="submit" value="Submit"
                data-event-label="deploy-server">
                <i class="fa fa-cloud"></i> {{ _('Deploy Server') }}
            </button>
            <a id="generate-password" href="#">Generate a Random Password</a>
        </form>

        {% if form.errors %}
            <ul class="errors text-center">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li class="danger alert">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="description text-center">
            <p>{{ _('GuildBit is a free service to deploy temporary Mumble servers for your group. The service is completely
            funded by donations and upgrades. <a href="/how-it-works">Learn how it works &raquo;</a>') }}</p>
            <span>{{ _('*Free servers are currently limited to 15 slots') }}</span>
        </div>
    </div>

    {% include 'partials/_dont_have_mumble.html' %}
    {% include 'partials/_adspace.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#deploy-form').submit(function(e) {
            $('#deploy-button').attr('disabled', 'disabled');
            $('#deploy-button').html("<i class='fa fa-refresh fa-spin'></i> {{ _('Deploying...') }}");
        });

        $('#generate-password').on('click', function() {
          $('#password').val(randomPassword());
        });

        function randomPassword() {
          var adjective = randomWord(_ADJECTIVES);
          var noun = randomWord(_NOUNS);
          return adjective + noun;
        }

        function randomWord(list) {
            var i = Math.floor(Math.random() * list.length);
            return list[i];
        }

        var _ADJECTIVES = [
            'Abominable', 'Accurate', 'Adorable', 'All', 'Alleged', 'Ancient', 'Angry',
            'Anxious', 'Appalling', 'Apparent', 'Astonishing', 'Attractive', 'Awesome',
            'Baby', 'Bad', 'Beautiful', 'Benign', 'Big', 'Bitter', 'Blind', 'Blue',
            'Bold', 'Brave', 'Bright', 'Brisk', 'Calm', 'Camouflaged', 'Casual',
            'Cautious', 'Choppy', 'Chosen', 'Clever', 'Cold', 'Cool', 'Crawly',
            'Crazy', 'Creepy', 'Cruel', 'Curious', 'Cynical', 'Dangerous', 'Dark',
            'Delicate', 'Desperate', 'Difficult', 'Discreet', 'Disguised', 'Dizzy',
            'Dumb', 'Eager', 'Easy', 'Edgy', 'Electric', 'Elegant', 'Emancipated',
            'Enormous', 'Euphoric', 'Evil', 'Fast', 'Ferocious', 'Fierce', 'Fine',
            'Flawed', 'Flying', 'Foolish', 'Foxy', 'Freezing', 'Funny', 'Furious',
            'Gentle', 'Glorious', 'Golden', 'Good', 'Green', 'Green', 'Guilty',
            'Hairy', 'Happy', 'Hard', 'Hasty', 'Hazy', 'Heroic', 'Hostile', 'Hot',
            'Humble', 'Humongous', 'Humorous', 'Hysterical', 'Idealistic', 'Ignorant',
            'Immense', 'Impartial', 'Impolite', 'Indifferent', 'Infuriated',
            'Insightful', 'Intense', 'Interesting', 'Intimidated', 'Intriguing',
            'Jealous', 'Jolly', 'Jovial', 'Jumpy', 'Kind', 'Laughing', 'Lazy', 'Liquid',
            'Lonely', 'Longing', 'Loud', 'Loving', 'Loyal', 'Macabre', 'Mad', 'Magical',
            'Magnificent', 'Malevolent', 'Medieval', 'Memorable', 'Mere', 'Merry',
            'Mighty', 'Mischievous', 'Miserable', 'Modified', 'Moody', 'Most',
            'Mysterious', 'Mystical', 'Needy', 'Nervous', 'Nice', 'Objective',
            'Obnoxious', 'Obsessive', 'Obvious', 'Opinionated', 'Orange', 'Painful',
            'Passionate', 'Perfect', 'Pink', 'Playful', 'Poisonous', 'Polite', 'Poor',
            'Popular', 'Powerful', 'Precise', 'Preserved', 'Pretty', 'Purple', 'Quick',
            'Quiet', 'Random', 'Rapid', 'Rare', 'Real', 'Reassuring', 'Reckless', 'Red',
            'Regular', 'Remorseful', 'Responsible', 'Rich', 'Rude', 'Ruthless', 'Sad',
            'Scared', 'Scary', 'Scornful', 'Screaming', 'Selfish', 'Serious', 'Shady',
            'Shaky', 'Sharp', 'Shiny', 'Shy', 'Simple', 'Sleepy', 'Slow', 'Sly',
            'Small', 'Smart', 'Smelly', 'Smiling', 'Smooth', 'Smug', 'Sober', 'Soft',
            'Solemn', 'Square', 'Square', 'Steady', 'Strange', 'Strong', 'Stunning',
            'Subjective', 'Successful', 'Surly', 'Sweet', 'Tactful', 'Tense',
            'Thoughtful', 'Tight', 'Tiny', 'Tolerant', 'Uneasy', 'Unique', 'Unseen',
            'Warm', 'Weak', 'Weird', 'WellCooked', 'Wild', 'Wise', 'Witty', 'Wonderful',
            'Worried', 'Yellow', 'Young', 'Zealous'
        ];

        var _NOUNS = [
          'Aeris', 'Aerith', 'Lucas', 'Charizard', 'Marth', 'MegaMan', 'Mewtwo',
          'Android', 'Butthead', 'Turok', 'Bond', 'Ren', 'Stimpy', 'Elvis', 'Frogger',
          'Batman', 'Sonic', 'Mario', 'Luigi', 'SuperJoe', 'SolidSnake', 'Shaq',
          'Corrin', 'CaptainFalcon', 'Sheik', 'Roy', 'Rosalina', 'Squirtle', 'Wolf',
          'Dracula', 'Reptile', 'Sindel', 'Blade', 'ChrisRedfield', 'Akuma', 'Piccolo',
          'Fox', 'Ike', 'Kirby', 'MetaKnight', 'Ness', 'Pichu', 'Ganondorf',
          'Frog', 'Crono', 'Lucca', 'Magus', 'Cinder', 'EarthwormJim', 'Serge', 'Loki',
          'Gohan', 'Vegeta', 'Frieza', 'Sniper', 'Ultros', 'Daxter', 'Jak', 'GLaDOS',
          'Guile', 'DonkeyKong', 'Vader', 'Conker', 'Buzz', 'Bowser', 'Toad', 'Bomberman',
          'LiuKang', 'LiquidSnake', 'Link', 'Leon', 'LaraCroft', 'Knuckles', 'Banjo',
          'MasterChief', 'GordanFreeman', 'Clank', 'Lightning', 'Tifa', 'Cammy',
          'RacoonMario', 'DarkwingDuck', 'VaultBoy', 'Cloud', 'Sephiroth', 'Lemmings',
          'Samus', 'Sagat', 'Ryu', 'Scorpion', 'Zelda', 'Yoda', 'Wario', 'Vega',
          'Shredder', 'RoboCop', 'Raiden', 'Pikachu', 'Neo', 'Metroid', 'Pacman',
          'Starscream', 'Saria', 'Gabe', 'Blanka', 'Peach', 'Sin', 'Goemon', 'Musashi',
          'Tidus', 'Jade', 'Yuna', 'CaitSith', 'DukeNukem', 'SniperWolf', 'Sinder',
          'Yoshi'
        ];
    </script>
{% endblock %}
