{% extends"layout/base.html" %}

{% block title %}{{ _('Free Mumble Server Hosting') }}{% endblock %}

{% block body %}
        <div class="ten columns centered content home">
            <h1 class="text-center">{{ _('Deploy a Mumble server for your group. It&apos;s free!') }}</h1>

            <form id="deploy-form" class="pure-form deploy-form" action="/" method="POST">
                {{ form.csrf_token }}
                    {{ form.location }}
                    {{ form.duration }}
                    {{ form.password(size=20, class='', placeholder='%s' % _('Set a Password'), autocomplete='off') }}
                    <button id="deploy-button" class="pure-button pure-button-primary" type="submit" value="Submit">
                        <i class="fa fa-cloud"></i> {{ _('Deploy Server') }}
                    </button>
            </form>

            {% if form.errors %}
                <ul class="errors text-center">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="danger alert">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="description text-center">
                <p>{{ _('GuildBit is a free service to deploy temporary Mumble servers for your group. The service is completely
                funded by donations and upgrades. <a href="/how-it-works">Learn how it works &raquo;</a>') }}</p>
                <span>{{ _('*Free servers are currently limited to 10 slots') }}</span>
            </div>
    </div>

    {% include 'partials/_dont_have_mumble.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#deploy-form').submit(function() {
            $('#deploy-button').attr('disabled', 'disabled');
            $('#deploy-button').html("<i class='fa fa-refresh fa-spin'></i> {{ _('Deploying...') }}");

            // Analytics event
            ga('send', 'event', 'home', 'deploy server');
        });
    </script>
{% endblock %}