{% extends"_layout/base.html" %}

{% block title %}Your Server is Ready!{% endblock %}

{% block body %}
    <div class="row">
        <div class="ten columns centered content">
            <div class="ten columns centered">
                <h2>Your server is ready!</h2>
                <p>Use the details below to connect. Bookmark this page to save the details.</p>
                <table class="rounded centered">
                    <thead>
                        <tr>
                            <th colspan="2">Mumble Connection Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Server</td>
                            <td>mumble.guildbit.com</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ details.server.config.port }}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>{{ server.password }}</td>
                        </tr>
                        <tr>
                            <td>Direct Link</td>
                            <td><a href="mumble://mumble.guildbit.com:{{ details.server.config.port }}">mumble://mumble.guildbit.com:{{ details.server.config.port }}</a></td>
                        </tr>
                        <tr>
                            <td>Expires</td>
                            <td><span id="expires-date"></span> (<span id="expires"></span>) </td>
                        </tr>
                        <tr>
                            <td>Slots</td>
                            <td>{{ details.server.maxusers }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="rounded centered" data-bind="with: usersOnline">
                    <thead>
                        <tr>
                            <th>Users Online (<span data-bind="text: count"></span>)</th>
                            <th class="text-right">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: users -->
                        <tr data-bind="if: count > 0">
                            <td data-bind="text: name"></td>
                            <td id="duration" class="text-right" data-bind="text: moment.duration(onlinesecs, 'seconds').humanize()"></td>
                        </tr>
                        <!-- /ko -->
                        <tr><td class="text-center" colspan="2" data-bind="if: count == 0">No users are online</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include '_partials/_dont_have_mumble.html' %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/libs/knockout-3.0.0.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>

    <script type="text/javascript">
        // Format expiration date into human friendly
        var base_url = '{{ request.base_url }}'
        var expire_date = '{{ server.expiration }}';
        $("#expires-date").text(moment.utc(expire_date).local().format("ddd, MMM Do, h:mm:ss a"));
        $("#expires").text(moment.utc(expire_date).fromNow());

        // Knockout Users Model for displaying and updated users online
        function UsersViewModel() {
            var self = this;

            self.usersOnline = ko.observable(loadUsers());

            // Load initial users into usersOnline observable, then set an interval
            function loadUsers() {
                var users = [];
                $.ajax({
                    url: base_url + "/users",
                    async: false,
                    dataType: "json",
                    success: function (json) {
                        users = json.users;
                    }
                });
                return users;
            }
            setInterval(function() {
                self.usersOnline(loadUsers());
            }, 15000)

        }
        ko.applyBindings(new UsersViewModel());
    </script>
{% endblock %}