{% extends"_layout/base.html" %}

{% block title %}Your Server is Ready!{% endblock %}

{% block body %}
    <div class="row">
        <div class="ten columns centered content">
            <div class="ten columns centered">
                <h2>Your server is ready!</h2>
                <p>Use the details below to connect. Bookmark this page to save the details.</p>
                <table class="rounded centered">
                    <thead>
                        <tr>
                            <th colspan="2">Mumble Connection Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Server</td>
                            <td>{{ server.mumble_host }}</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ details.port }}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>{{ server.password }}</td>
                        </tr>
                        <tr>
                            <td>Direct Link</td>
                            <td><a href="mumble://{{ server.mumble_host }}:{{ details.port }}">mumble://{{ server.mumble_host }}:{{ details.port }}</a></td>
                        </tr>
                        <tr style="display: none;">
                            <td>
                                <div class="ttip" data-tooltip="Share the connection details easily by copying the snippet to your clipboard">
                                    Copy URL
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </td>
                            <td>
                                <div class="copy-url append field">
                                    <input id="copy-text" class="xwide input" type="text" value="Host: {{ server.mumble_host }} Port: {{ details.port }} Pass: {{ server.password }}" readonly="readonly" />
                                    <div class="medium primary btn"><a id="" href="#">Copy</a></div>
                                </div>
                                <a id="copy-button">test</a>
                            </td>
                        </tr>
                        {% if server.type == 'temp' %}
                        <tr>
                            <td>Expires</td>
                            <td><span id="expires-date"></span> (<span id="expires"></span>) </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Slots</td>
                            <td>{{ details.maxusers }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="rounded centered" data-bind="with: usersOnline">
                    <thead>
                        <tr>
                            <th>Users Online (<span data-bind="text: count"></span>)</th>
                            <th class="text-right">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: users -->
                        <tr>
                            <td data-bind="text: name"></td>
                            <td id="duration" class="text-right" data-bind="text: moment.duration(onlinesecs, 'seconds').humanize()"></td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: count == 0 -->
                        <tr><td class="text-center" colspan="2">No users are online</td></tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include '_partials/_dont_have_mumble.html' %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/libs/knockout-3.0.0.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>
    <script src="/static/js/libs/jquery.zclip.min.js"></script>

    <script type="text/javascript">
        // Format expiration date into human friendly
        var base_url = '{{ request.base_url }}'
        var expire_date = '{{ server.expiration }}';
        $("#expires-date").text(moment.utc(expire_date).local().format("ddd, MMM Do, h:mm:ss a"));
        $("#expires").text(moment.utc(expire_date).fromNow());

        $(document).ready(function() {
            $('#copy-button').zclip({
                path: '/static/js/libs/ZeroClipboard.swf',
                copy: function(){
                    var text = $('input#copy-text').val();
                    console.log('copied');
                    return text
                }
            });
        });

        // Knockout Users Model for displaying and updated users online
        function UsersViewModel() {
            var self = this;

            self.usersOnline = ko.observable(loadUsers());

            // Load initial users into usersOnline observable, then set an interval
            function loadUsers() {
                var users = [];
                $.ajax({
                    url: base_url + "/users",
                    async: false,
                    dataType: "json",
                    success: function (json) {
                        users = json.users;
                    }
                });
                return users;
            }
            setInterval(function() {
                self.usersOnline(loadUsers());
            }, 15000)

        }
        ko.applyBindings(new UsersViewModel());
    </script>
{% endblock %}