{% extends"_layout/base.html" %}

{% block title %}Update Log{% endblock %}

{% block body %}
    <div class="row">
        <div class="ten columns centered content">
            <div class="ten columns centered">
                <h2>Update Log</h2>

                <h4>March</h4>
                <ul>
                    <li><strong>3/18</strong> &mdash; Feature added to easily
                        copy+paste server information to your group</li>
                    <li><strong>3/12</strong> &mdash; Added US-West server (San Francisco, CA)</li>
                    <li><strong>3/3</strong> &mdash; First 100 servers deployed</li>
                </ul>
                <h4>February</h4>
                <ul>
                    <li><strong>2/26</strong> &mdash; Project shared on Reddit.com</li>
                    <li><strong>2/16</strong> &mdash; GuildBit.com Public Launch</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}