{% extends"layout/base.html" %}

{% block title %}Update Log{% endblock %}

{% block body %}
    <div class="content">
        <h1>Update Log</h1>

        <h2>August</h2>
        <ul>
          <li><strong>8/21</strong> &mdash; 5000+ servers deployed! Free server slots increased to 15.</li>
          <li><strong>8/11</strong> &mdash; Introduced <a href="http://mumble-widget.guildbit.com">Mumble-Widget</a>. Embed a widget of active users on your guild's website!</li>
        </ul>
        <h2>July</h2>
        <ul>
          <li><strong>7/29</strong> &mdash; <a href="http://mumble.sourceforge.net/Channel_Viewer_Protocol">CVP endpoint</a> feature added to upgraded servers.</li>
          <li><strong>7/14</strong> &mdash; SuperUser admin feature added to upgraded servers.</li>
          <li><strong>7/10</strong> &mdash; Added Paypal as a payment method for server upgrades.</li>
        </ul>
        <h2>June</h2>
        <ul>
          <li><strong>6/24</strong> &mdash; Introduced server upgrades via Bitcoin.</li>
          <li><strong>6/7</strong> &mdash; Added EU (Amsterdam) server</li>
        </ul>
        <h2>April</h2>
        <ul>
            <li><strong>4/24</strong> &mdash; Added i18n (Internationalization) support. Help us add translations! :)</li>
            <li><strong>4/15</strong> &mdash; Backend improvements to Mumble Server deployer</li>
        </ul>
        <h2>March</h2>
        <ul>
            <li><strong>3/30</strong> &mdash; Added US East (New York City, NY) server</li>
            <li><strong>3/25</strong> &mdash; Feature added to report quality of server to help improve GuildBit</li>
            <li><strong>3/18</strong> &mdash; Feature added to easily
                copy+paste server information to your group</li>
            <li><strong>3/12</strong> &mdash; Added US-West server (San Francisco, CA)</li>
            <li><strong>3/03</strong> &mdash; First 100 servers deployed</li>
        </ul>
        <h2>February</h2>
        <ul>
            <li><strong>2/26</strong> &mdash; Project shared on Reddit.com</li>
            <li><strong>2/16</strong> &mdash; GuildBit.com Public Launch</li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}