{% extends"_layout/base.html" %}

{% block title %}Update Log{% endblock %}

{% block body %}
    <div class="row">
        <div class="ten columns centered content">
            <div class="ten columns centered">
                <h2>Update Log</h2>
                <ul>
                    <li><strong>March 12th, 2014</strong> &mdash; Added US-West server (San Francisco, CA)</li>
                    <li><strong>March 3rd, 2014</strong> &mdash; First 100 servers deployed</li>
                    <li><strong>February 26th, 2014</strong> &mdash; Project shared on Reddit.com</li>
                    <li><strong>February 16th, 2014</strong> &mdash; GuildBit.com Public Launch</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}