{% extends"layout/base.html" %}

{% block title %}{{ _('Upgrades') }}{% endblock %}

{% block body %}
  <div class="content" xmlns="http://www.w3.org/1999/html">
        <h1>{{ _('Upgrades') }}</h1>

        <h3>15 slots not enough? Purchase one of the upgrade packages below &mdash; No subscription or registration required!</h3>
        <p>Each package comes with a SuperUser account to administer your server, users, channels and
          <a href="https://wiki.mumble.info/wiki/ACL_and_Groups/English" target="_BLANK">ACLs</a>.
          <a href="https://wiki.mumble.info/wiki/ACL_and_Groups/English" target="_BLANK">Learn more about SuperUser and ACLs here</a>.</p>

        <div class="pure-g">
        {% for package in packages %}
          <div class="pure-u-1-1 pure-u-md-1-3">
            <ul class="pricing-chart">
              <li class="title">{{ package.name }}</li>
              <li class="price">${{ "%.2f"|format(package.price) }}</li>
              <li class="desc">{{ package.description }}</li>
              <li class="bullet-item">Persistent Server & Port</li>
              <li class="bullet-item">Sub-channels</li>
              <li class="bullet-item">SuperUser Admin</li>
              <li class="bullet-item">Dedicated Region</li>
              <li class="bullet-item"><span class="ttip text-underline" data-toggle="popover" data-trigger="hover" title="Add a Mumble Channel Viewer Widget on your website!">Mumble Widget CVP</span></li>
              <li class="regions"><i class="fa fa-globe"></i> Available Regions</li>
              {% for k, v in regions %}
                <li class="bullet-item region-item">{{ v }}</li>
              {% endfor %}
              <li class="cta-button">
                <script async src="/static/js/libs/paypal.js?merchant=UYN9SV4FS6NXU"
                        data-button="buynow"
                        data-size="small"
                        data-type="form"
                        data-name="{{ package.name}}"
                        data-number="{{ package.id }}"
                        data-amount="{{ package.price }}"
                        data-currency="USD"
                        data-no_shipping="1"
                        data-callback="https://guildbit.com/payment/paypal-gateway"
                        data-return="https://guildbit.com/payment/success"
                        data-rm="1"></script>
              </li>
            </ul>
          </div>
        {% endfor %}
        </div>

          {% if config['DEBUG'] or request.args.get('test') %}
          <div class="pure-u-1-3">
            <ul class="pricing-chart">
              <li class="title">TEST</li>
              <li class="price">$0.01</li>
              <li class="desc">10 Slots &mdash; 2 Days</li>
              <li class="bullet-item">Persistent Server & Port</li>
              <li class="bullet-item">Sub-channels</li>
              <li class="bullet-item">SuperUser Admin</li>
              <li class="bullet-item">Dedicated Region</li>
              <li class="bullet-item"><span class="ttip text-underline" data-toggle="popover" data-trigger="hover" title="Add a Mumble Channel Viewer Widget on your website!">Mumble Widget CVP</span></li>
              <li class="regions"><i class="fa fa-globe"></i> Available Regions</li>
              {% for k, v in regions %}
                <li class="bullet-item region-item">{{ v }}</li>
              {% endfor %}
              <li class="cta-button">
                <script async src="/static/js/libs/paypal.js?merchant=alf.g.jr@gmail.com"
                        data-button="buynow"
                        data-size="small"
                        data-type="form"
                        data-name="TEST"
                        data-number="1"
                        data-amount="0.01"
                        data-currency="USD"
                        data-no_shipping="1"
                        data-callback="https://7da9ca60e1a4.ngrok.io/payment/paypal-gateway"
                        data-return="https://7da9ca60e1a4.ngrok.io/payment/success"
                        data-rm="1"
                        data-host="www.sandbox.paypal.com"></script>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>

        <h3 class="text-center">After purchase, an email will be sent with a unique link to create and configure your server.</h3>
  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ttip').tooltip({trigger: 'hover'});
      });
    </script>
{% endblock %}
